# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Cobertura / diagnósticos
coverage
*.lcov
.nyc_output
report.*.json

# Dependencias
node_modules/

# Builds (Vite/Node/web)
dist/
build/
out/
.next/
.nuxt/

# Cachés
.cache/
.eslintcache
.parcel-cache/
.turbo/

# TypeScript
*.tsbuildinfo

# Entornos
.env
.env.*
.env.local

# SO/editores
.DS_Store
